nest-asyncio
fastapi
geojson
numpy
pydantic
requests
shapely
tqdm
uvicorn
gunicorn
pexpect
decorator
wcwidth
cubo
xarray
rioxarray
matplotlib
huggingface-hub==0.24.7
sci
scikit-image
Pillow
opencv_python
kornia
open_clip_torch
torch
torchvision==0.16.0
segmentation-models-pytorch
super-image
# git+https://github.com/openai/CLIP.git
# opencv-python-headless==4.10.0.84
# basicsr==1.4.2